body, td, th, input {
	font-family: Helvetica, sans-serif;
}

body {
	background-color: #FFFFFF;
}

td, th {
	padding-right: 10px;
}

th {
	color: White;
	background-color: DarkBlue;
}

.evenrow {
	background-color: #F0F0FA;
}

.correct-text {
	background-color:GreenYellow;
	font-weight: bold;
	font-size: x-large;
	color:Black;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid Green;
}

.incorrect-text {
	background-color:OrangeRed;
	font-size: x-large;
	font-weight: bold;
	color:White;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid DarkRed;
}

.incorrect {
	color: White;
	background-color: Crimson;
}

.question {
	border:1px solid darkblue;
	background-color: beige;
	padding:5px;
	font-weight: bold
}

.commentbyowner {
	color: Black;
	background-color: Khaki;
}

.arrows {
	font-size: small;
}