body, td, th {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: small;
}

body {
	background-color: #FFFFFF;
}

td, th {
	padding-right: 10px;
}

th {
	color: White;
	background-color: DarkBlue;
}

.evenrow {
	background-color: #F0F0FA;
}

.incorrect {
	color: White;
	background-color: Crimson; 
}

.question {
	font-size: large;
	font-weight: bold
}

.commentbyowner {
	color: Black;
	background-color: Khaki;
}