<html>
	<head>
		{% include "../includes/head.html" %}
		<script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>
	</head>
	<body onLoad="document.getElementById('response_text').focus(); document.getElementById('nextbutton').focus();">
		<div><b>{{ response.question.quiz.title }}</b></div>
		<div>Question {{ response.number }}</div>
		<br>
		{% include "../includes/question.html" %}
		<br>

		<form action="/grade" method="post" name="questionform">
			{% ifequal question.type "FIB" %}
				<div><input type="text" size="20" name="response_text" id="response_text" /></div>
			{% endifequal %}

			{% ifequal question.type "MCSR" %}
				<div>Select one:</div>
				{% for choice in choices %}
					<div><input type="radio" name="response_text" value="{{ choice.text|escape }}">{{ choice.text|escape }}</input></div>
				{% endfor %}
			{% endifequal %}

			{% ifequal question.type "MCMR" %}
				<div>Select all that apply:</div>
				{% for choice in choices %}
					<div><input type="checkbox" name="response_text" value="{{ choice.text|escape }}">{{ choice.text|escape }}</input></div>
				{% endfor %}
			{% endifequal %}
			
			<input type="hidden" name="response_key" value="{{ response.key }}" />
			<input type="hidden" name="session_key" value="{{ response.session.key }}" />
			<input type="hidden" name="number" value="{{ response.number }}" />

			<br>
			<div><input type="submit" value="Submit"></div>
		</form>
	</body>
</html>