<html>
	<head>
		{% include "../includes/head.html" %}
	</head>
	<body>
		{% include "../includes/header.html" %}
		
		<div>Quiz completed!</div>
		<div><b>{{ quiztitle }}</b></div>
		<br>

		<table>
		<tr><td>Questions Answered: </td><td>{{ session.questions_answered }}</td></tr>
		<tr><td>Correct Responses: </td><td>{{ session.number_correct }}</td></tr>
		<tr><td>Percentage: </td><td>{{ session.percentage_correct|floatformat }}%</td></tr>
		</table>
		
		<br>
		<a href="/">Return to main page</a>

	</body>
</html>