<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	</head>
	<body>
		{% include "../includes/header.html" %}
		
		<div>Responses {% if session.quiz %}for quiz: <b>{{ session.quiz.title }}</b>{% endif %}</div>
		<div>Taken on {{ session.timestarted|date:"Y-m-d H:i:s T" }}</div>
		<br>
		
		<table>
		<tr align="left">
			<th>Number</th>
			{% if not session.quiz %}<th>Quiz</th>{% endif %}
			<th>Question</th>
			<th>Response</th>
			<th>Correct?</th>
		</tr>
		
		{% for response in responses %}
			<tr {% if forloop.counter|divisibleby:2 %}class="evenrow"{% endif %}>
			<td>{{ response.number }}</td>
			{% if not session.quiz %}<td>{{ response.question.quiz.title }}</td>{% endif %}
			<td>{{ response.question.text|striptags }}</td>
			<td {% if response.answered and not response.correct %}class="incorrect"{% endif %}>{{ response.text|escape }}</td>
			<td {% if response.answered and not response.correct %}class="incorrect"{% endif %}>{{ response.correct|yesno:"Yes,No," }}</td>
			</tr>
		{% endfor %}
		
		</table>
		<br>
		{% if session.quiz %}<div><a href="/sessions?quiz={{ session.quiz.key }}">Return to quiz history</a></div>{% endif %}
		<div><a href="/">Return to main page</a></div>
	</body>
</html>